:root {
    --line_color: #555555;
    --back_color: #FFECF6;
}

#error_box {
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.button{
    background: none;
    border: none;
    position : relative ;
    z-index : 0 ;
    width : 240px ;
    height : 56px ;
    text-decoration : none ;
    font-size : 14px ;
    font-weight : bold ;
    color : var(--line_color) ;
    letter-spacing : 2px ;
    transition : all .3s ease ;
}
.button__text{
    display : flex ;
    justify-content : center ;
    align-items : center ;
    width : 100% ;
    height : 100% ;
}
.button::before,
.button::after,
.button__text::before,
.button__text::after{
    content : '' ;
    position : absolute ;
    height : 3px ;
    border-radius : 2px ;
    background : var(--line_color) ;
    transition : all .5s ease ;
}
.button::before{
    top : 0 ;
    left : 54px ;
    width : calc( 100% - 56px * 2 - 16px ) ;
}
.button::after{
    top : 0 ;
    right : 54px ;
    width : 8px ;
}
.button__text::before{
    bottom : 0 ;
    right : 54px ;
    width : calc( 100% - 56px * 2 - 16px ) ;
}
.button__text::after{
    bottom : 0 ;
    left : 54px ;
    width : 8px ;
}
.button__line{
    position : absolute ;
    top : 0 ;
    width : 56px ;
    height : 100% ;
    overflow : hidden ;
}
.button__line::before{
    content : '' ;
    position : absolute ;
    top : 0 ;
    width : 150% ;
    height : 100% ;
    box-sizing : border-box ;
    border-radius : 300px ;
    border : solid 3px var(--line_color) ;
}
.button__line:nth-child(1),
.button__line:nth-child(1)::before{
    left : 0 ;
}
.button__line:nth-child(2),
.button__line:nth-child(2)::before{
    right : 0 ;
}
.button:hover{
    letter-spacing : 6px ;
}
.button:hover::before,
.button:hover .button__text::before{
    width : 8px ;
}
.button:hover::after,
.button:hover .button__text::after{
    width : calc( 100% - 56px * 2 - 16px ) ;
}

.container2{
    width : 100% ;
    height : 300px ;
    display : flex ;
    flex-direction : column ;
    justify-content : center ;
    align-items : center ;
}

input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance:none ;
    outline: 0;
    padding:0 8px;
    margin-bottom: 20px;
}
input{
    box-shadow: 0 2px 10px 2px #999999;
    border-radius:30px;
}

.frame {
    margin-top: 150px;
}

.register_sub {
    text-align: center;
}

.title {
    font-size: 40px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    height: 100%; 
    letter-spacing: 2px; 
    font-weight: bold; 
    color: #29b2d0;
    margin-bottom: 100px;
}

label {
    margin-right: 5%; 
    margin-bottom: 30px;
    letter-spacing: 2px; 
    font-weight: bold; 
    color: #333333; 
    padding:0 8px;
}

#boxs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box1, .box2 {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.box1 label {
    width: 100%;
    text-align: right;
}

.box2 input {
    text-align: left;
    min-width: 300px;
}

#go_to_login {
    color:rgba(201,67,120,0.8); 
    text-decoration: none; 
    font-size: small;
}