*{
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}
.container {
    width: 80%;
    margin: auto;
    overflow: auto;
}

#header_logo {
    font-size:x-large;
}

#L2dCanvas {
    z-index: -1; 
    position: fixed;
}

@media (max-width: 768px) {
    body {
        overflow-x: scroll;
    }

    header ul {
        flex-direction: column;
    }

    header li {
        padding: 10px 0;
    }
}

header {
    color: #a2a2a2;
    background: #fff;
    padding-top: 30px;
    min-height: 70px;
    /* border-bottom: #bbb 1px solid; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

header.shadow {
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

header a {
    color: #525252;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a {
    color: #de77a5;
    font-weight: bold;
}