
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/static/images/BinLTools_logo.ico" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700&family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <title>Academic Homepage</title>
  <style>
    *{
      box-sizing: border-box;
    }

    /*@font-face {*/
    /*  font-family: 'Mona Sans';*/
    /*  src:*/
    /*          url('../../static/Font/Mona Sans/Mona-Sans.woff2') format('woff2 supports variations'),*/
    /*          url('../../static/Font/Mona Sans/Mona-Sans.woff2') format('woff2-variations');*/
    /*  font-weight: 400 900;*/
    /*  font-stretch: 100% 125%;*/
    /*}*/

    body {
      font-family: 'Montserrat', 'Roboto', sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
      color: #333;
    }
    .container {
      padding-left: 300px;
      padding-right: 300px;
      margin: auto;
      overflow: hidden;
    }

    header {
      background: #333;
      color: #fff;
      padding-top: 30px;
      min-height: 70px;
      border-bottom: #bbb 1px solid;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
    }
    header a {
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 16px;
    }
    header ul {
      padding: 0;
      margin: 0;
      list-style: none;
      overflow: hidden;
    }
    header li {
      float: left;
      display: inline;
      padding: 0 20px 0 20px;
    }
    header #branding {
      float: left;
    }
    header #branding h1 {
      margin: 0;
    }
    header nav {
      float: right;
      margin-top: 10px;
    }
    header .highlight, header .current a {
      color: #44c0c0;
      font-weight: bold;
    }
    .module {
      padding: 20px;
      background: #fff;
      margin-top: 20px;
      border-radius: 15px; /* Rounded corners for each module */
    }

    .module2 {
      padding: 20px;
      background: #ececec;
      margin-top: 20px;
      border-radius: 12px;
    }

    .hover_button {
      background-color: #e0e0e0;
      color: #333;
      padding: 10px 20px;
      text-decoration: none;
      border-radius: 5px;
      transition: background-color 0.3s ease, color 0.3s ease;
    }

    .hover_button:hover {
      background-color: #44c0c0;
      color: #fff;
    }

    .custom-hr {
      margin-bottom: 20px;
      border-width:1px;
      border-radius: 15px;
    }

    .container3_around {
      display: flex;
      justify-content: space-around;
    }

    .container3 {
      display: flex;
    }

    @media (max-width: 1200px) {
      .container {
        padding-left: 50px;
        padding-right: 50px;
      }

      .container3 {
        flex-direction: column;
      }

      .container3_around {
        flex-direction: column;
      }
    }

    @media screen and (max-width: 600px) {
      body {
        overflow-x: scroll;
      }
      .container3_around {
        flex-direction: row;
      }

      .container3 {
        flex-direction: row;
      }

      .container {
        width: 1200px;
        margin: auto;
        overflow: hidden;
      }
    }

  </style>
</head>

<body>
<header>
  <div class="container">
    <div id="branding">
      <h1><span class="highlight">Academic</span> Homepage</h1>
    </div>
    <nav>
      <ul>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#competitions">Competitions</a></li>
        <li><a href="#internship">Internship</a></li>
        <li><a href="#research">Research</a></li>
        <li><a href="#courses">Courses</a></li>
        <li><a href="#skills">Skills</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="container">
  <div style="margin-top: 130px">
    <h3><a href="/" style="color: #de77a5;">Back to my Website</a></h3>
  </div>

  <section id="biography" class="module" style="margin-top: 50px;">
    <div class="photo-container" style="text-align: center;">
      <img src="../../static/images/Optimized/Author‘sImage-min.jpg" alt="Kaile Ying" style="width:200px; height:200px; border-radius: 50%; object-fit: cover;">
    </div>

    <h2 style="text-align: center; font-size: 40px;">Kaile Ying</h2>
    <p style="text-align: center;">Download my <a href="../../static/Documents/CV_Kaile%20Ying.docx" target="_blank">CV</a>.</p>
    <p style="text-align: center; margin-bottom: 50px;"><a href="https://github.com/BinL233">
      <i class="fab fa-github"></i> My Github HomePage
    </a></p>

    <div class="container3_around">
        <div>
          <h3 style="font-size: 30px; text-align: center;">Interests</h3>
          <p style="text-align: center;">Deep Learning for DNA Analysis</p>
          <p style="text-align: center;">Robotics</p>
          <p style="text-align: center;">Web Development</p>
          <p style="text-align: center;">iOS Applications Development</p>
        </div>
        <div>
          <h3 style="font-size: 30px; text-align: center;">Education</h3>
          <p style="text-align: center; text-align: center;">The Pennsylvania State University - University Park</p>
          <p style="margin-left: 20px; color: #7a7a7a; font-size: 15px;"><i class="far fa-clock"></i> 2020-2024</p>
          <p style="margin-left: 20px; color: #7a7a7a; font-size: 15px;"><i class="fas fa-graduation-cap"></i> Computer Science Major</p>
          <p style="margin-left: 20px; color: #7a7a7a; font-size: 15px;"><i class="fas fa-graduation-cap"></i> Mathematics Minor</p>
        </div>
    </div>
  </section>

  <section id="projects" class="module">
    <p style="text-align: center; font-size: 40px;">Projects</p>
    <section style="padding-left: 20px; padding-right: 20px; padding-bottom: 50px;">
      <div>
        <div style="display: flex; justify-content: space-between; margin-bottom: -10px">
          <div>
            <h3 style="font-size: 25px;"><i class="fas fa-laptop-code"></i> (Kubernetes Native) Kueue</h3>
          </div>
          <div>
            <p style="font-size: 23px;">Jun 2023 - Present</p>
          </div>
        </div>
        <p style="font-family: 'Roboto'; line-height: 1.5; font-size: 17px; margin-bottom: 25px;">
          Kueue is a kubernetes-native system that manages quotas and how jobs consume them. Kueue decides when a job should wait,
          when a job should be admitted to start (as in pods can be created) and when a job should be preempted (as in active pods should be deleted).
        </p>
        <p><img src="../../static/images/theory-of-operation.svg" alt="kueue-theory-of-operation"></p>
      </div>
      <div>
        <a href="https://github.com/kubernetes-sigs/kueue" class="hover_button">Repository</a>
        <a href="https://kueue.sigs.k8s.io/docs/overview/" class="hover_button">Website</a>
      </div>
    </section>

    <section style="padding-left: 20px; padding-right: 20px; margin-bottom: 25px;">
      <div>
        <div style="display: flex; justify-content: space-between; margin-bottom: -10px">
          <div>
            <h3 style="font-size: 25px;"><i class="fas fa-laptop-code"></i> (Application for iOS) Revive</h3>
          </div>
          <div>
            <p style="font-size: 23px;">Oct 2023 - Present</p>
          </div>
        </div>
        <p style="font-family: 'Roboto'; line-height: 1.5; font-size: 17px; margin-bottom: 25px;">Revive is a Focus App for iOS, based on taking care of endangered or extinct species.
          In Revive, you can take care of a species from 0 to 1, starting with an egg. For your species to thrive,
          you need to do anything in a focused way-----such as studying, working, or other activities, which is the core of Revive.
        </p>
        <p style="font-family: 'Roboto'; line-height: 1.5; font-size: 17px; margin-bottom: 25px;">
          Features: Core Data, iCloud Sync, Live Activity Notifications, Timer, json Encoder & Decoder, Data Visualization Analysis, UserDefaults.
        </p>
        <p style="font-family: 'Roboto'; font-size: 17px; margin-bottom: 25px;"><b>This app now is available on Apple TestFlight!</b></p>
        <div class="container3" style="padding: 30px">
          <div><img src="../../static/images/Optimized/ReviveReviveMockUp-min.jpg" alt="ReviveMockUp" style="width: 90%; height: auto"></div>
          <div><img src="../../static/images/Optimized/Flowchart-min.jpg" alt="ReviveFlowChart" style="width: 90%; height: auto"></div>
        </div>
      </div>
      <div>
        <a href="https://testflight.apple.com/join/TfxHXkvb" class="hover_button">Apple TestFlight</a>
        <a href="https://github.com/BinL233/Revive" class="hover_button">Repository</a>
        <a href="https://github.com/BinL233/Revive/blob/main/Design/Revive%20-%20Design%20Document.pdf" class="hover_button">Design</a>
      </div>
    </section>

    <section style="padding-left: 20px; padding-right: 20px; margin-bottom: 25px;">
      <div>
        <div style="display: flex; justify-content: space-between; margin-bottom: -10px">
          <div>
            <h3 style="font-size: 25px;"><i class="fas fa-laptop-code"></i> (Personal Website) BinLTools</h3>
          </div>
          <div>
            <p style="font-size: 23px;">Jun 2022 - Present</p>
          </div>
        </div>
        <p style="font-family: 'Roboto'; line-height: 1.5; font-size: 17px; margin-bottom: 25px;">
          Gin Framework-based project. Used for small features and articles created by the author.
          Applied Gin as Framework, HTML+CSS as Front-end, JavaScript+Golang as Back-end, and Mysql as Database.
          This website allows users to log in, register, test reactions, convert digits (Binary, Octal, Decimal and
          Hexadecimal), etc. It also contains an L2D Widget and Author's home page.
        </p>
      </div>
      <div>
        <a href="https://github.com/BinL233/BinLTools_Gin" class="hover_button">Repository</a>
        <a href="http://binltools.fun/" class="hover_button">Website</a>
      </div>
    </section>

    <section style="padding-left: 20px; padding-right: 20px; margin-bottom: 25px;">
      <div>
        <div style="display: flex; justify-content: space-between; margin-bottom: -10px">
          <div>
            <h3 style="font-size: 25px;"><i class="fas fa-laptop-code"></i> Thread scheduler</h3>
          </div>
          <div>
            <p style="font-size: 23px;">Jan 2023 - Mar 2023</p>
          </div>
        </div>
        <p style="font-family: 'Roboto'; line-height: 1.5; font-size: 17px; margin-bottom: 25px;">
          This repository contains code for emulation of a single CPU with the Shortest Remaining Time
          First scheduling policy and two IO Devices-based thread schedulers. Implemented and parsed various
          mechanisms for virtual memory to physical memory to page mapping and page scheduling algorithms (FIFO, LRU, CLOCK).
          Built multi-process, CPU/IO multi-threading (spin locks, mutex locks, and thread scheduling algorithms (FCFS, SRJF)).
          Constructed TLB mechanisms to determine the physical address of the memory request at the time of the TLB hit.
        </p>
      </div>
      <div>
        <a href="https://github.com/BinL233/Thread-scheduler" class="hover_button">Repository</a>
        <!--        <a href="#" class="hover_button">Website</a>-->
      </div>
    </section>

    <section style="padding-left: 20px; padding-right: 20px; margin-bottom: 25px;">
      <div>
        <div style="display: flex; justify-content: space-between; margin-bottom: -10px">
          <div>
            <h3 style="font-size: 25px;"><i class="fas fa-laptop-code"></i> CPU Organization and Design</h3>
          </div>
          <div>
            <p style="font-size: 23px;">Jun 2022 - Aug 2022</p>
          </div>
        </div>
        <p style="font-family: 'Roboto'; line-height: 1.5; font-size: 17px; margin-bottom: 25px;">
          This project builds an FPGA on Vivado via Verilog that simulates the key components and functions of a CPU:
          Datapath for executing instructions and controlling data transfer; Pipeline Registers such as IDEXEPipelineReg,
          IFIDPipelineReg. Pipeline Registers such as IDEXEPipelineReg, IFIDPipelineReg, exememPipelineReg and
          memwbPipelineReg are used to store stage data and status information; Control Unit is used to control other
          components to perform calculations; Program Counter and Program Counter Adder are used to keep track of the
          address of the current instruction and increase the number of PCs; Register File is used to store the temporary
          data of register; ALU is used to perform computation and logic operations; Data Memory is used to store data;
          RegrtMultiplexer, ALU multiplexer and WbMux are used to select different data sources according to the control
          signals. By constructing the above components, this virtual CPU can realize read-save and
          add-subtract-multiply-divide calculations.
        </p>
      </div>
      <div class="container3" style="padding: 30px">
        <div><img src="../../static/images/Optimized/CPU1-min.png" alt="CPU1" style="width: 90%; height: auto"></div>
        <div><img src="../../static/images/Optimized/CPU2-min.png" alt="CPU2" style="width: 90%; height: auto"></div>
      </div>
      <div>
        <a href="https://github.com/BinL233/Computer-Organization-and-Design" class="hover_button">Repository</a>
        <!--        <a href="#" class="hover_button">Website</a>-->
      </div>
    </section>

    <section style="padding-left: 20px; padding-right: 20px; margin-bottom: 25px;">
      <div>
        <div style="display: flex; justify-content: space-between; margin-bottom: -10px">
          <div>
            <h3 style="font-size: 25px;"><i class="fas fa-laptop-code"></i> (Game for Windows) One Death Clear</h3>
          </div>
          <div>
            <p style="font-size: 23px;">Jul 2021 - Sep 2022</p>
          </div>
        </div>
        <p style="font-family: 'Roboto'; line-height: 1.5; font-size: 17px; margin-bottom: 25px;">
          This is a 2D RPG game. Control the character to fight against monsters and defeat the boss at the end to clear the game.
          The most important thing is that if you die you need to start over!
        </p>
      </div>
      <div>
        <a href="http://binltools.fun/download/No_Death_Clear_0.8.3.exe" class="hover_button">Game</a>
        <a href="http://binltools.fun/download/No_Death_Clear_0.8.3_Project.zip" class="hover_button">Project</a>
      </div>
    </section>
  </section>

  <section id="competitions" class="module">
    <p style="text-align: center; font-size: 40px;">Competitions</p>
    <section class="module2" style="padding-left: 20px; padding-right: 20px; margin-bottom: 25px;">
      <div>
        <div style="display: flex; justify-content: space-between; margin-bottom: -40px">
          <div>
            <h3 style="font-size: 23px; ">DJI RoboMaster Competition in IEEE International Conference</h3>
          </div>
          <div>
            <p style="font-size: 22px;">May 2022</p>
          </div>
        </div>
          <p style="color: #606060; font-size: 20px; margin-bottom: 25px; margin-left: 25px;">- 2nd Place</p>
      </div>
      <hr class="custom-hr">
      <div class="container3">
        <div><img src="../../static/images/Optimized/RoboMaster-min.jpg" style="margin-left: 20px; width: 76%; height: auto; border-radius: 15px;"></div>
        <div><img src="../../static/images/Optimized/RoboMaster2-min.jpg" style="margin-left: 20px; width: 70%; height: auto; border-radius: 15px;"></div>
      </div>
    </section>

    <section class="module2" style="padding-left: 20px; padding-right: 20px; margin-bottom: 25px;">
      <div>
        <div style="display: flex; justify-content: space-between; margin-bottom: -40px">
          <div>
            <h3 style="font-size: 23px; ">Nittany AI Challenge</h3>
          </div>
          <div>
            <p style="font-size: 22px;">Feb 2022 - May 2022</p>
          </div>
        </div>
        <p style="color: #606060; font-size: 20px; margin-bottom: 25px; margin-left: 25px;">- TOP 20</p>
      </div>
    </section>

    <section class="module2" style="padding-left: 20px; padding-right: 20px; margin-bottom: 25px;">
      <div>
        <div style="display: flex; justify-content: space-between; margin-bottom: -40px">
          <div>
            <h3 style="font-size: 23px; ">ASA DataFest</h3>
          </div>
          <div>
            <p style="font-size: 22px;">Mar 2022</p>
          </div>
        </div>
        <p style="color: #606060; font-size: 20px; margin-bottom: 25px; margin-left: 25px;">- Best Data Visualization Team</p>
      </div>
      <hr class="custom-hr">
      <div class="container3">
        <div style="margin-left: 20px; flex: 1;">
          <img src="../../static/images/Optimized/ASADataFest-min.jpg" style="width: 100%; height: auto; border-radius: 15px;">
        </div>
        <div style="margin-left: 100px; margin-right: 100px; flex: 2;">
          <img src="../../static/images/ASADataFest2.JPG" style="width: 100%; height: auto; border-radius: 15px;">
        </div>
      </div>
    </section>
  </section>

  <section id="internship" class="module">
    <p style="text-align: center; font-size: 40px;">Internship</p>
    <section style="padding-left: 20px; padding-right: 20px; margin-bottom: 25px;">
      <div>
        <div style="display: flex; justify-content: space-between; margin-bottom: -40px">
          <div>
            <h3 style="font-size: 25px;"><i class="fas fa-id-badge"></i> DaoCloud Network Technology Co., Ltd.</h3>
          </div>
          <div>
            <p style="font-size: 23px;">May 2023 - Aug 2023</p>
          </div>
        </div>
        <p style="color: #606060; font-size: 20px; margin-bottom: 25px; margin-left: 25px;">- Back-end Developer Intern</p>
        <p style="margin-left: 25px"><i class="fas fa-circle fa-xs"></i> <b>Cloud Native: </b> Kubernetes, Docker, Kueue</p>
        <p style="margin-left: 25px"><i class="fas fa-circle fa-xs"></i> <b>AI Models Platform: </b> KubeRay</p>
      </div>
    </section>
  </section>


  <section id="research" class="module">
    <p style="text-align: center; font-size: 40px;">Research</p>
    <section style="padding-left: 20px; padding-right: 20px; margin-bottom: 25px;">
      <div>
        <div style="display: flex; justify-content: space-between; margin-bottom: -10px">
          <div>
            <h3 style="font-size: 25px;"><i class="fas fa-chart-pie"></i>   (Deep Learning for ChIP-nexus) Cage</h3>
          </div>
          <div>
            <p style="font-size: 23px;"> Aug 2023 - Present</p>
          </div>
        </div>
        <p style="font-family: 'Roboto'; line-height: 1.5; font-size: 17px; margin-bottom: 25px;">
          We reduce the time complexity of analyzing ChIP-nexus data by analyzing base pairs in DNA sequences.
          Applied forward and backward propagation in neural networks with multi-scale feature learning.
          Randomly split the genome into training, validation and test chromosomes.

        </p>
      </div>
    </section>
  </section>

  <section id="courses" class="module">
    <p style="text-align: center; font-size: 40px;">Courses</p>

    <section style="padding-left: 20px; padding-right: 20px; margin-bottom: 25px;">
      <div style="text-align: center">
        <p style="font-size: 18px;">CMPSC 360 - Discrete Mathematics for Computer Science - A</p>
        <p style="font-size: 18px;">CMPSC 475 - Applications Programming - A</p>
        <p style="font-size: 18px;">CMPSC 461 - Programming Language Concepts - A</p>
        <p style="font-size: 18px;">CMPSC 465 - Data Structures and Algorithms - A-</p>
        <p style="font-size: 18px;">CMPEN 270 - Digital Design - A</p>
        <p style="font-size: 18px;">CMPEN 331 - Computer Organization and Design - A</p>
        <p style="font-size: 18px;">CMPSC 415 - Numerical Computations - A-</p>
        <p style="font-size: 18px;">Stat 414 - Introduction to Probability Theory - A</p>
        <p style="font-size: 18px;">Stat 415 - Introduction to Mathematical Statistics - A</p>
        <p style="font-size: 18px;">CMPSC 221 - Object Oriented Programming with Web-Based Applications - A</p>
      </div>
    </section>
  </section>

  <section id="skills" class="module">
    <p style="text-align: center; font-size: 40px;">Skills</p>

    <div style="display: flex; justify-content: space-around;">
      <div style="text-align: center">
        <h3 style="font-size: 18px;"><i class="fas fa-code"></i> Programming Languages</h3>
        <p style="font-size: 16px;">Golang</p>
        <p style="font-size: 16px;">Python</p>
        <p style="font-size: 16px;">Swift</p>
        <p style="font-size: 16px;">C</p>
        <p style="font-size: 16px;">Java</p>
        <p style="font-size: 16px;">HTML & CSS</p>
        <p style="font-size: 16px;">SQL</p>
      </div>

      <div style="text-align: center">
        <h3 style="font-size: 18px;"><i class="fas fa-laptop-code"></i> CS Related Technics</h3>
        <p style="font-size: 16px;">Kubernetes</p>
        <p style="font-size: 16px;">Docker</p>
        <p style="font-size: 16px;">Web Development (Gin, Django...)</p>
        <p style="font-size: 16px;">iOS Application Development (SwiftUI, UiKit)</p>
        <p style="font-size: 16px;">Deep Learning (PyTorch)</p>
        <p style="font-size: 16px;">Embedded System Development</p>
        <p style="font-size: 16px;">Game Development</p>
        <p style="font-size: 16px;">Database</p>
      </div>

      <div style="text-align: center">
        <h3 style="font-size: 18px;"><i class="fas fa-tools"></i> Non-CS Related Technics</h3>
        <div style="text-align: center">
          <p style="font-size: 16px;">Video Clip (Premiere)</p>
          <p style="font-size: 16px;">Video Effects (After Effects)</p>
          <p style="font-size: 16px;">MMD (3D)</p>
          <p style="font-size: 16px;">BeatBox</p>
          <p style="font-size: 16px;">Painting</p>
          <p style="font-size: 16px;">Image Processing (PhotoShop)</p>
        </div>
      </div>
    </div>

  </section>


</div>
</body>
<br /><br /><br /><br /><br /><br /><br /><br />
{{template "footer"}}
</html>
