<!DOCTYPE html>
<html lang="en">
{{template "header" .}}
<br />
<br />
<br />
<br />
<head>
    <meta charset="UTF-8">
    <title>ERROR</title>
</head>
<body>
<br><br><br><br>
<div id="main">
    <div id="error_title" style="text-align: center">
        <a style="text-align: center; font-size: 50px; color: #1e9595">Sorry...There is something wrong...</a>
    </div>
    <br><br><br><br>
    <div id="error_info" style="text-align: center">
        <a style="text-align: center; font-size: larger; color: #636e72">Error Code:  </a>
        <a style="text-align: center; font-size: larger; color: #2d3436">{{.code}}</a><br><br>
        <a style="text-align: center; font-size: larger; color: #636e72">Error Message:  </a>
        <a style="text-align: center; font-size: larger; color: #2d3436">{{.msg}}</a>

    </div>
</div>
</body>
<br /><br /><br /><br /><br /><br /><br /><br />
{{template "footer"}}
</html>