<!doctype html>
<html lang="en">
{{template "header" .}}
<br /><br /><br /><br />
<body>
<title>{{.title}}</title>
<div>
	<div class='login' style="text-align: center">
		<div class='title' style="font-size: 40px">Login</div>
		<br />
		<br />
		<div class='biao'>
			<form action="/login_process" method='post'>
				<label>Username: <br></label><input type="username" name='user'><br><br>
				<label>Password: <br></label><input type="password" name='pwd'><br>
				<button type="submit" value='Log in' style='width:240px;height:50px;margin-top:25px;background:#ffffff'>Sign In</button>
				<!--					<input type="button" value='Back' style='width:240px;height:30px;margin-top:25px;background:#ffffff'  value = "Submit">-->
			</form>
		</div>
	</div>
</div>
</body>
{{template "footer"}}
</html>