<!doctype html>
<html>
{{template "header" .}}
<body class="container">
<title>{{.title}}</title>

<style>
	@import "/static/css/button1.css";
	@import "/static/css/input.css";
</style>

<div style="margin-top: 150px;">
	<div class='login' style="text-align: center">
		<div class='title' style="font-size: 40px; display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; letter-spacing: 2px; font-weight: bold; color: #29b2d0">Login</div>
		<br />
		<br />
		<div class='biao'>
			<form id="myForm" action="/login_process" method='post'><br><br>
				<div style="width: 50%; float: left; text-align: right">
					<label style="margin-right: 5%; letter-spacing: 2px; font-weight: bold; color: #333333; padding:0 8px;">Username: </label><br><br>
					<label style="margin-right: 5%; letter-spacing: 2px; font-weight: bold; color: #333333; padding:0 8px;">Password: </label><br><br>
				</div>
				<div style="width: 50%; float: right; text-align: left">
					<input  type="username" name='user'><br><br>
					<input  type="password" name='pwd'><br><br>
				</div>
<!--				<button type="submit" value='Log in' style='width:240px;height:50px;margin-top:25px;background:#ffffff'>Sign In</button>-->
				<div class="container2">
					<a href="#", onclick="submitForm()", type="submit" value="log in" class="button">
						<div class="button__line"></div>
						<div class="button__line"></div>
						<span class="button__text">Login</span>
					</a>
					<p><a href="/register" style="color:rgba(201,67,120,0.8); text-decoration: none; font-size: small;">I don't have an account. I want to sign up!</a></p>

				</div>
				<!--					<input type="button" value='Back' style='width:240px;height:30px;margin-top:25px;background:#ffffff'  value = "Submit">-->
			</form>
			<script>
				function submitForm() {
					var form = document.getElementById("myForm");
					form.submit();
				}
			</script>
		</div>
<!--		<script src="/Services/javascript/submitForm.js"></script>-->
	</div>
</div>
</body>
{{template "footer"}}
</html>