<!DOCTYPE html>
<html>
<title>{{.title}}</title>
{{ template "header" .}}
            <script>
                var num = Math.ceil(Math.random()*5);
                var flag=0;
                var beginTime = 0;
                var endTime = 0
                function changeColor(){
                    if(flag == 1){      
                            endTime = +new Date();
                            document.getElementById("reactionB").style.background="#57F15C";
                            document.getElementById("reactionB").innerHTML=((endTime - beginTime) + " ms");
                            // Send "reactionB" value to the backend
                            var xhr = new XMLHttpRequest();
                            xhr.open("POST", "/handle-reaction-b", true);
                            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                            xhr.send("reactionB=" + encodeURIComponent(document.getElementById("reactionB").innerHTML));
                        }

                    else if(flag == 0){
                        document.getElementById("reactionB").style.background="#57F15C";
                        document.getElementById("reactionB").innerHTML="Wait...";
                        setTimeout(function(){
                            document.getElementById("reactionB").style.background="#E0457B";
                            document.getElementById("reactionB").innerHTML="Click!";
                            beginTime = +new Date();
                        },num*1000+1000);
                    }

                    else if(flag == 2){
                        location.reload();
                    }

                    flag++;
                }
            </script>
            <div id="button" class="container">
                <!--<p style="text-align: center;" id="reactionB" onclick="changeColor()"><input style="width: 550px; height: 350px;" type = "button" id="reactionB" onclick="changeColor()"></p>-->
                <p style="text-align: center;">           
                    <button onclick="changeColor()" id="reactionB" style="
                                            width: 100%;
                                            height: 460px;
                                            border-width: 0px;
                                            cursor: pointer;
                                            outline: none; 
                                            color: white;
                                            background-color: #57F15C;
                                            font-family: 'Open Sans';
                                            font-size: 40px;">
                    Click Here</button>
                </p>
                <p style="text-align: center">You can refresh current page by clicking on the green area again after the test :)</p>
            </div>
            <br><br>
            <div id="rank" class="container">
                <div if="rank_title">
                    <p style="text-align: center;"><label style="font-size:40px; color: #1e9595; font-weight: bold;">Rank</label></p>
                </div><br>
                <table style="left: 30%; border-collapse:separate; border-spacing:100px 30px; background-color: rgba(69,67,67,0.21); margin: 0 auto; text-align: center">
                    {{ range $element := .rank }}
                        <tr style="left: 30%; text-align: center">
                            <td>{{$element.id}}</td>
                            <td>{{$element.userName}}</td>
                            <td>{{$element.score}} ms</td>
                        </tr>
                    {{ end }}
                </table>
            </div>
{{ template "footer" }}
</html>