<!doctype html>
<html>
<!--{{template "header" .}}-->
<body>
<title>{{.title}}</title>
<style>
	@import "/static/css/button1.css";
	@import "/static/css/input.css";
</style>
	<div style="margin-top: 50px;">
		<div class='register' style="text-align: center">
			<div class='title' style="font-size: 40px; display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; letter-spacing: 2px; font-weight: bold; color: #29b2d0">Register</div>
			<br />
			<br />
			<div class='biao'>
				<form id="myForm" action="/register_process" method='post'><br><br>
					<div style="width: 50%; float: left; text-align: right">
						<label style="margin-right: 5%; letter-spacing: 2px; font-weight: bold; color: #333333; padding:0 8px;">Username: </label><br><br>
						<label style="margin-right: 5%; letter-spacing: 2px; font-weight: bold; color: #333333; padding:0 8px;">Password: </label><br><br>
						<label style="margin-right: 5%; letter-spacing: 2px; font-weight: bold; color: #333333; padding:0 8px;">Confirm Password: </label>
					</div>
					<div style="width: 50%; float: right; text-align: left">
						<input  type="username" name='user'><br><br>
						<input  type="password" name='pwd'><br><br>
						<input  type="password" name='cpwd'>
					</div>
<!--					<button type="submit" value='Sign up' style='width:240px;height:50px;margin-top:25px;background:#ffffff'>Sign Up</button>-->
<!--					<input type="button" value='Back' style='width:240px;height:30px;margin-top:25px;background:#ffffff'  value = "Submit">-->
					<div class="container">
						<a href="#", onclick="submitForm()", type="submit" value="Sign up" class="button">
							<div class="button__line"></div>
							<div class="button__line"></div>
							<span class="button__text">Sign up</span>
						</a>
						<p><a href="/login" style="color:rgba(201,67,120,0.8); text-decoration: none; font-size: small;">I already have an account</a></p>

					</div>
				</form>
				<script>
					function submitForm() {
						var form = document.getElementById("myForm");
						form.submit();
					}
				</script>
			</div>
		</div>
	</div>
</body>
{{template "footer"}}
</html>
