<!doctype html>
<html lang="en">
{{template "header" .}}
<br /><br /><br /><br />
<body>
<title>{{.title}}</title>
	<div>
		<div class='register' style="text-align: center">
			<div class='title' style="font-size: 40px">Register</div>
			<br />
			<br />
			<div class='biao'>
				<form action="/register_process" method='post'>
					<label>Username: <br></label><input type="username" name='user'><br><br>
					<label>Password: <br></label><input type="password" name='pwd'><br><br><br>
					<button type="submit" value='Sign up' style='width:240px;height:50px;margin-top:25px;background:#ffffff'>Sign Up</button>
<!--					<input type="button" value='Back' style='width:240px;height:30px;margin-top:25px;background:#ffffff'  value = "Submit">-->
				</form>
				<p><a href="/login" style="color:rgba(201,67,120,0.8); text-decoration: none; font-size: small;">I already had an account</a></p>
			</div>
		</div>
	</div>
</body>
{{template "footer"}}
</html>