<!DOCTYPE html>
<html lang="en">
{{template "header" .}}
<br />
<br />
<br />
<br />
<head>
  <meta charset="UTF-8">
  <title>Success</title>
</head>
<body>
<br><br><br><br>
<div id="main">
  <div id="error_title" style="text-align: center">
    <a style="text-align: center; font-size: 50px; color: #1e9595">Success!</a><br><br><br><br><br>
    <p style="text-align: center"><a href="/" style="color:rgba(201,67,120,0.8); text-decoration: none; font-size: large;">Click here to back</a></p>
  </div>
</div>
</body>
<br /><br /><br /><br /><br /><br /><br /><br />
{{template "footer"}}
</html>